.logo {
    width: 230px;
}

.isotipo {
    width: 30%;
}

.nav-header {
    color: #000092 !important;
}

.nav-header:hover {
    color: #212529 !important;
    opacity: 0.9;
}

.search {
    width: 260px !important;
    height: 38px;
}

.btn-search {
    color: #000092;
    background-color: #e6e2e1;
    height: 38px;
    outline-color: transparent !important;
}

button:focus {
    outline: 5px auto rgba(0, 0, 0, 0.1);
}

a {
    color: #000092;
}

a:hover {
    color: #212529 !important;
    opacity: 0.9;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: #f8f9fa;
}
